body {background-color: blueviolet;}

h1{size: 15cm;}

.destaque {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: cornflowerblue;size: 1000em;}
.destaquee { color: red;}